<li>
  <h3><button {{action 'deleteFolder'}}>x</button>      <span>{{model.label}}</span></h3>
  <dl>
    <dt>ID: </dt><dd>{{model.url}}</dd>
    <dt>Last Modified: </dt><dd>{{model.modified}}</dd>
  </dl>
</li>
