<h3>Folders</h3>
<p>Total Folders: {{graph.folderList.length}}</p>

{{create-folder}}

{{folder-list
  foldersCollection=graph.folderList
}}

<br />
<br />
<div>---------------------</div>
<div>---------------------</div>
<div>---------------------</div>
<div>---------------------</div>
<br />
<br />

{{folder-list
  foldersCollection=graph.folderList
}}
